body{
	color: #1c1c1c;
	background: #f0f0f0;
}

.div_main{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 700px;
	border:red solid thin;
	outline-color: #ff00ff;
	outline-width: thin;
}

.div_top{
	height: 450px;	
	border:red solid thin;
}

.div_bottom{
	height: 250px;	
	border:red solid thin;
}

.div_left{
	width: 250px;
	height: 450px;
	border:red solid thin;
	float:left;
}

.div_right{
	width: 248px;
	height: 450px;
	border:red solid thin;
	float:right;
}

.div_middle{
	height: 450px;
	width: 492px;
	border:red solid thin;
	float:left;
}

.div_r2{
	width: 745px;
	height: 450px;
	float:right;
}

.photo{
	width:250px;
	height:200px;
	margin-top:50px;
	border:red solid thin;
}

.photo1{
	width:250px;
	height:200px;
	border:blue solid thin;
}

.info{
	width:250px;
	height:50px;
	border:black solid thin;
}

.notice{
	width:250px;
	height:50px;
	border:red solid thin;
}

.div_b_l{
	width:250px;
	height:250px;
	float:left;
	border:red solid thin;
}

.div_b_r{
	width:742px;
	height:250px;
	border:black solid thin;
	position: relative;
	left:251px;
	top:-52px;
}

.pic{
	width:18px;
	height:160px;
	margin-top:50px;
	border:black solid thin;
	float:left;
}

.pic-top{
	width:18px;
	height:160px;
	margin-top:30px;
	border:black solid thin;
	float:left;
}

.div_m_t{
	height:410px;
	width:492px;
	border:black solid thin;
}

.div_m_t_m{
	height:38px;
	width:492px;
	border:black solid thin;
}

.div_m_t_s{
	height:370px;
	width:492px;
	border:black solid thin;
}

.div_m_b{
	height:38px;
	width:492px;
	border:black solid thin;
}
