<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>
<link rel="stylesheet" href="../css/game.css" type="text/css">
<script src="../js/wsocket.js"> </script>
</head>
<body>
<div class="div_main">
	<div class="div_top">
	<div class="div_left">
	<div class="photo">
		<img id="photo2" src="../pic/nongming.jpg" />
	</div>
	<div class="info">
		<label id="info2"> username </label>
	</div>
	<div class="notice"></div>
	</div>
	<div class="div_r2">
	<div class="div_middle">
		<div class="div_m_t">
		<div class="div_m_t_m">
			<label >notice:</label>
			<label id="notice1" type="text" name="notice" style="height:23px; width:380px; margin-top:3px;"></label>
		</div>
		<div id="div_m_t_s" class="div_m_t_s">
		</div>
		</div>
		<div class="div_m_b">
			<button id="connect" style="margin-left:10px;"  onclick="connect()" >connect</button>
			<button id="enter" style="margin-left:100px;"   onclick="send_pukes()" >enter</button>
			<button id="cancle" style="margin-left:100px"   >cancle</button>
		</div>
	</div>
	<div class="div_right">
	<div class="photo">
		<img id="photo3" src="../pic/nongming.jpg" />
	</div>
	<div class="info">
		<label id="info3"> username </label>
	</div>
	<div class="notice"></div>
	</div>
	</div>
	</div>

	<div class="div_bottom">
	<div class="div_b_l">
	<div class="info">
		<label id="info1"> username </label>
	</div>
	<div class="photo1">
		<img id="photo1" src="../pic/nongming.jpg" />
	<div>
	</div>
	<div id="div_b_r" class="div_b_r">
	</div>
	</div>
</div>
</body>
</html>
