<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>
<link rel="stylesheet" href="../css/game.css" type="text/css">
<script src="../js/wsocket.js"> </script>
</head>
<body>
<div class="div_main">
	<div class="div_top">
	<div class="div_left">
	<div class="photo"></div>
	<div class="info"></div>
	<div class="notice"></div>
	</div>
	<div class="div_r2">
	<div class="div_middle">
		<div class="div_m_t">
		<div class="div_m_t_m">
			<label >notice:</label>
			<input id="notice1" type="text" name="notice">
		</div>
		<div class="div_m_t_s"></div>
		</div>
		<div class="div_m_b">
			<button style="margin-left:100px;" onclick="handle()" >press hard</button>
			<button style="margin-left:100px" >cancle</button>
		</div>
	</div>
	<div class="div_right">
	<div class="photo"></div>
	<div class="info"></div>
	<div class="notice"></div>
	</div>
	</div>
	</div>

	<div class="div_bottom">
	<div class="div_b_l">
	<div class="info"></div>
	<div class="photo1"><div>
	</div>
	<div class="div_b_r">
	<div id="d1" class="pic" style="margin-left:50px"><img id="p1" src="../pic/1.jpg" onclick="click_pic(1)"/></div>
	<div id="d2" class="pic"><img id="p2" src="../pic/1.jpg" onclick="click_pic(2)"/></div>
	<div id="d3" class="pic"><img id="p3" src="../pic/1.jpg" onclick="click_pic(3)"/></div>
	<div id="d4" class="pic"><img id="p4" src="../pic/1.jpg" onclick="click_pic(4)"/></div>
	<div id="d5" class="pic"><img id="p5" src="../pic/1.jpg" onclick="click_pic(5)"/></div>
	<div id="d6" class="pic"><img id="p6" src="../pic/1.jpg" onclick="click_pic(6)"/></div>
	<div id="d7" class="pic"><img id="p7" src="../pic/1.jpg" onclick="click_pic(7)"/></div>
	<div id="d8" class="pic"><img id="p8" src="../pic/1.jpg" onclick="click_pic(8)"/></div>
	<div id="d9" class="pic"><img id="p9" src="../pic/1.jpg" onclick="click_pic(9)"/></div>
	<div id="d10" class="pic"><img id="p10" src="../pic/1.jpg" onclick="click_pic(10)"/></div>
	<div id="d11" class="pic"><img id="p11" src="../pic/1.jpg" onclick="click_pic(11)"/></div>
	<div id="d12" class="pic"><img id="p12" src="../pic/1.jpg" onclick="click_pic(12)"/></div>
	<div id="d13" class="pic"><img id="p13" src="../pic/1.jpg" onclick="click_pic(13)"/></div>
	<div id="d14" class="pic"><img id="p14" src="../pic/1.jpg" onclick="click_pic(14)"/></div>
	<div id="d15" class="pic"><img id="p15" src="../pic/1.jpg" onclick="click_pic(15)"/></div>
	<div id="d16" class="pic"><img id="p16" src="../pic/1.jpg" onclick="click_pic(16)"/></div>
	<div id="d17" class="pic"><img id="p17" src="../pic/1.jpg" onclick="click_pic(17)"/></div>
	<div id="d18" class="pic"><img id="p18" src="../pic/1.jpg" onclick="click_pic(18)"/></div>
	<div id="d19" class="pic"><img id="p19" src="../pic/1.jpg" onclick="click_pic(19)"/></div>
	<div id="d20" class="pic"><img id="p20" src="../pic/1.jpg" onclick="click_pic(20)"/></div>
	<div id="d21" class="pic"><img id="p21" src="../pic/1.jpg" onclick="click_pic(21)"/></div>
	</div>
	</div>
</div>
</body>
</html>
